* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 125%;
    line-height: 1.15;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.3;
    color: #000;
}

body,
html {
    font-size: 20px;
}


/* Navbar 1 */

.nav1 {
    background-color: #e6e6e6 !important;
}

.nav1 .text-style {
    color: #000;
    font-size: 17px;
    font-weight: 400;
}

.nav1 .nav-link:hover {
    color: #52B838;
    transition: .3s ease-in;
}

.nav1 .dropdown {
    position: static !important;
}

.nav1 .dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 70% !important;
}

.nav1 .dropdown-item {
    color: #000;
    font-size: 15px;
}

.remove-caret.dropdown-toggle::after {
    display: none;
}

.nav1 .dropdown-menu:before {
    position: absolute;
    top: -5px;
    left: 700px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.nav1 .dropdown-menu:after {
    position: absolute;
    top: -3px;
    left: 700px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.nav1 a:hover {
    background-color: transparent;
    color: #00b140;
    transition: .3s ease-in-out;
}


/* Navbar 1 End */


/* Navbar 2 */

.nav2 .text-style {
    color: #000;
    font-size: 20px;
}

.nav2 .nav-link:hover {
    background-color: #0033a0;
    color: #fff;
    transition: .3s ease-in-out;
}

.nav2 .nav-link:focus {
    background-color: #0033a0;
    color: #fff;
}

.nav2 .dropdown {
    position: static;
}

.nav2 .dropdown-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    width: 100%;
    background-color: #0033a0;
    overflow: hidden;
}

.nav2 .dropdown-item {
    color: #fff;
    font-size: 15px;
}

.nav2 .dropdown-height {
    height: 610px;
}

@media only screen and (max-width: 768px) {
    #navbar2 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    #navbar2 {
        display: none;
    }
}

.navbar-brand {
    margin-left: 150px;
}

.nav2 .navbar-brand:hover {
    background-color: transparent;
}

@media only screen and (max-width:768px) {
    .navbar-brand {
        margin-left: 0px;
    }
}

@media only screen and (max-width:576px) {
    .navbar-brand {
        margin-left: 0px;
    }
}

#navbarNavDropdown01 {
    margin-right: 180px;
}

.nav2 svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.nav2 .dropdown-item {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.nav2 .desc {
    line-height: 1.3;
}

.nav2 .desc:hover {
    background-color: transparent;
}

.nav2 .row {
    margin-left: 120px;
    margin-right: 100px;
}

.nav2 a:hover {
    background-color: #06276d;
    color: #fff;
    transition: .3s ease-in-out;
}

.nav2 img:hover {
    background-color: transparent;
}

.pic {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
}

.arrow-left {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #00b140;
}

.arrow-right {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #00b140;
}

.arrow-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00b140;
}

.arrow-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00b140;
}

.perpective-app-banner {
    background: url(../images/perspectives-app-banner-mobile_new.jpg) no-repeat;
    background-size: 100% auto;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.app-banner-download {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.app-banner-download a {
    margin-bottom: 10px;
    background: transparent !important;
    padding: 0;
}

.app-banner-download img {
    width: 45%;
}


/* Navbar 2 End */


/* Slideshow Carousel */

.carousel .carousel-indicators li {
    height: 5px;
    width: 35px;
    margin: 0px 8px;
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #00b140;
}

.carousel-item .img-fluid {
    width: 100%;
}

.carousel-item a {
    display: block;
    width: 100%;
}

.carousel-caption {
    top: 43%;
    bottom: auto;
    transform: translate(0, -50%);
}

@media only screen and (max-width: 576px) {
    .carousel-caption {
        top: 48%;
        bottom: auto;
        transform: translate(0, -50%);
    }
}

.carousel-caption p {
    position: relative;
    overflow-wrap: break-word;
}

.carousel-text-head {
    color: #0033a0;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    text-align: left;
}

@media only screen and (max-width: 576px) {
    .carousel-text-head {
        font-weight: 700;
        font-size: 35px;
        font-style: normal;
        line-height: 1;
        margin-bottom: 30px;
    }
}

.carousel-text-body {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    text-align: left;
    color: #000;
}

@media only screen and (max-width: 576px) {
    .carousel-text-body {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 30px;
    }
}

.button-outline-green {
    border: 1px solid #00b140;
    background-color: transparent;
    color: #00b140;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.button-outline-green:hover {
    border: 1px solid #0a8f3b;
    color: #0a8f3b;
}

.button-outline-green svg {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    transform: rotate(-90deg);
}

.button-outline-green span {
    vertical-align: middle;
}

.carousel-button-left svg {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    transform: rotate(90deg);
}

@media only screen and (max-width: 576px) {
    .carousel-button-left svg {
        height: 25px;
        width: 25px;
    }
}

.carousel-button-right svg {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    transform: rotate(-90deg);
}

@media only screen and (max-width: 576px) {
    .carousel-button-right svg {
        height: 25px;
        width: 25px;
    }
}

.carousel-item {
    min-height: 500px;
}

.carousel-item img {
    min-height: 500px;
}

@media only screen and (min-width: 768px) {
    .carousel-item {
        min-height: 500px;
    }
    .carousel-item img {
        min-height: 500px;
    }
}

@media only screen and (max-width: 576px) {
    .carousel-item {
        min-height: 500px;
    }
    .carousel-item img {
        min-height: 500px;
    }
}


/*back-to-top*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.back-to-top.hide {
    display: none;
}

.back-to-top .text {
    color: white;
    padding: 10px;
    display: inline-block;
    margin-right: -6px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(0, 51, 160, 0.85);
}

.back-to-top .icon {
    background-color: #0033a0;
    padding: 10px;
    vertical-align: middle;
}

.back-to-top .icon svg {
    width: 20px;
    transform: rotate(180deg);
    height: 20px;
}